.closeCard{
    cursor: pointer;
}
img{
    height: 100%;
}
.card-content{
    display: flex;
    flex-direction: column;
}
.card{
    max-height: 273.2px;
}
.show{
    display: block
}
.hidden{
    display: none
}
.Citylist{
    margin-bottom: 200px;
}
p{
    color: rgb(161, 160, 160);
}
.cold{
    color: #03a9f4
}
.warm{
    color: #ffa700;
}
.hot{
    color: #f44336;
}
.general-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}