.closeCard{
    cursor: pointer;
}
img{
    height: 100%;
}
.card-content{
    display: flex;
    flex-direction: column;
}
p{
    color: rgb(161, 160, 160);
}
.cold{
    color: #03a9f4
}
.warm{
    color: #ffa700;
}
.hot{
    color: #f44336;
}