.Settings{
    position: fixed;
    top: 20px;
    right: 20px;
}
.settings-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 50px;
}

.switch{
    margin-top: 20px;
}

.tempSwitch{
    color: #069;
}

.themeSwitch{
    color: rgb(255, 0, 0)
}

.settings-content-shown{
    position: fixed;
    top: 10px;
    left: 10px;
    transition: ease all 1.5s;
}

.settings-content-hidden{
    position: fixed;
    top: 10px;
    left: 10px;
    transition: ease all 1.5s;
    transform: translateX(-300px);
}